<article class="" id="staff">
  <div class="pt-5">
    <h2 class="font-bold underline text-3xl text-center">Nous.</h2>
    <!-- ----------------------Co-Founder section------------------------------- -->
    <div id="co-founder">
      <h3 class="my-5 text-center text-2xl font-semibold">Co-fondateur :</h3>
      <div class="text-center mb-8">
        <h4 class="text-lg font-semibold my-3">prenom</h4>
        <img [src]="'http://localhost:8000/res/img/avatar/witnesses.jpg'" alt="" class="rounded-full self-center">
        <p>txt de description</p>
      </div>
    </div>
    <!-- ----------------------Mentors section------------------------------- -->
    <app-white-section>
      <div id="mentors">
        <h3 class="text-center text-2xl font-semibold">Coaches :</h3>
        <div class="text-center">
          <h4 class="text-lg font-semibold my-3">prenom</h4>
          <img [src]="'http://localhost:8000/res/img/avatar/witnesses.jpg'" alt="" class="rounded-full">
          <p>txt de description</p>
        </div>
      </div>
    </app-white-section>
    <!-- ----------------------Administration section------------------------------- -->
    <div class="grid grid-cols-2" id="administration">
      <!-- ----------------------Assistance section------------------------------- -->
      <div id="assistance">
        <h3 class="my-5 text-center text-2xl font-semibold">Assistante :</h3>
        <div class="text-center">
          <h4 class="text-lg font-semibold my-3">prenom</h4>
          <img [src]="'http://localhost:8000/res/img/avatar/witnesses.jpg'" alt="" class="rounded-full">
          <p>txt de description</p>
        </div>
      </div>
      <!-- ----------------------CM section------------------------------- -->
      <div id="community-manager">
        <h3 class="my-5 text-center text-2xl font-semibold">Community Manager :</h3>
        <div class="text-center mb-8">
          <h4 class="text-lg font-semibold my-3">prenom</h4>
          <img [src]="'http://localhost:8000/res/img/avatar/witnesses.jpg'" alt="" class="rounded-full">
          <p>txt de description</p>
        </div>
      </div>
    </div>
    <!-- ----------------------Closer section------------------------------- -->
    <app-white-section>
      <div id="closer">
        <h3 class="text-center text-2xl font-semibold">Closer :</h3>
        <div class="text-center">
          <h4 class="text-lg font-semibold my-3">prenom</h4>
          <img [src]="'http://localhost:8000/res/img/avatar/witnesses.jpg'" alt="" class="rounded-full">
          <p>txt de description</p>
        </div>
      </div>
    </app-white-section>
  </div>
</article>
