<nav
  class="sticky top-0 mt-3 w-full bg-[#122D4E] rounded-xl z-10 text-[#EEF7FF]"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center space-x-10">

      <!-- -------------------------------------Logo/Index--------------------------------------- -->
      <div class="flex">
        <a class="flex text-2xl" id="nav-siteName" routerLink="/">
          <img
            alt="Logo"

            src="http://localhost:8000/res/img/logo/Logo-rd.png"

          />
        </a>
      </div>
      <div class="grid grid-cols-10 gap-8 ">

        <!-- ---------------------------------About Us---------------------------------------- -->

        <div class="col-span-2 ">
          <a
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF] p-3 rounded-md text-sm font-medium"
            id="nav-methods"
            routerLink="/about-us"
          >Qui Sommes Nous ?</a
          >
        </div>

        <!-- -----------------------------------Method-------------------------------------------- -->

        <div (mouseleave)="mDropdown = false" class="text-center col-span-2">
          <a
            (click)="mDropdown = !mDropdown"
            (mouseover)="mDropdown = true"
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF] rounded-md text-sm font-medium p-3 mr-3"
            id="nav-presentation"
          >
            Notre Méthode
          </a>
          <div *ngIf="mDropdown" class="relative">
            <app-dropdown-method></app-dropdown-method>
          </div>
        </div>

        <!-- ----------------------------------Free Content------------------------------------ -->

        <div (mouseleave)="fcDropdown = false" class="col-span-2">
          <a
            (click)="fcDropdown = true"
            (mouseover)="fcDropdown = true"
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF] rounded-md text-sm font-medium p-3"
            id="nav-freeContent"
          >Contenus Gratuits</a>
          <div *ngIf="fcDropdown" class="relative">
            <app-dropdown-free-content></app-dropdown-free-content>
          </div>
        </div>

        <!-- -----------------------------------Blog---------------------------------------- -->

        <div class="col-span-2">
          <a
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF]  p-3 rounded-md text-sm font-medium"
            id="nav-blog"
            routerLink="/blog"
          >Blog</a
          >
        </div>

        <!-- -------------------------------------Admin--------------------------------------- -->

        <div class="col-start-10 flex justify-end">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                  fill-rule="evenodd"/>
          </svg>

        </div>

      </div>
    </div>
  </div>
</nav>
