<nav
  class="sticky top-0 mt-3 w-full bg-[#122D4E] rounded-xl z-10 text-[#EEF7FF]"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center space-x-10">

      <!-- -------------------------------------Logo/Index--------------------------------------- -->
      <div class="flex">
        <a class="flex text-2xl" id="nav-siteName" routerLink="/">
          <img
            alt="Logo"
            height="150"
            ngSrc="http://localhost:8000/res/img/logo/Logo-rd.png"
            width="267"
          />
        </a>
      </div>
      <div class="grid grid-cols-4 gap-16 ">

        <!-- ---------------------------------About Us---------------------------------------- -->

        <div>
          <a
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF] p-3 rounded-md text-sm font-medium"
            id="nav-methods"
            routerLink="/about-us"
          >Qui Sommes Nous ?</a
          >
        </div>

        <!-- -----------------------------------Method-------------------------------------------- -->

        <div (mouseleave)="mDropdown = false" class="text-center">
          <a
            (click)="mDropdown = !mDropdown"
            (mouseover)="mDropdown = true"
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF] rounded-md text-sm font-medium p-3 mr-3"
            id="nav-presentation"
          >
            Notre Méthode
          </a>
          <div *ngIf="mDropdown" class="relative">
            <app-dropdown-method></app-dropdown-method>
          </div>
        </div>

        <!-- ----------------------------------Free Content------------------------------------ -->

        <div (mouseleave)="fcDropdown = false">
          <a
            (click)="fcDropdown = true"
            (mouseover)="fcDropdown = true"
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF] rounded-md text-sm font-medium p-3"
            id="nav-freeContent"
          >Contenus Gratuits</a>
          <div *ngIf="fcDropdown" class="relative">
            <app-dropdown-free-content></app-dropdown-free-content>
          </div>
        </div>

        <!-- -----------------------------------Blog---------------------------------------- -->

        <div>
          <a
            class="hover:text-[#122D4E] hover:bg-[#EEF7FF]  p-3 rounded-md text-sm font-medium"
            id="nav-blog"
            routerLink="/blog"
          >Blog</a
          >
        </div>

      </div>
    </div>
  </div>
</nav>
