<nav class="sticky top-0 mt-3 w-full bg-gradient-to-r from-[#FFF6A6] to-[#FFA9F9] rounded-xl">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class="flex h-16 items-center space-x-10">
      <div class="flex">
        <a class="flex text-2xl" href="#" id="nav-siteName">
          <img alt="Logo" height="150" ngSrc="../../assets/img/nav/Logo-rd.png" width="267">
        </a>
      </div>
      <div class="flex ml-5 space-x-10">
        <a class=" hover:bg-amber-500 px-3 py-2 rounded-md text-sm font-medium"
           id="nav-presentation" routerLink="">Qui Somme Nous ?</a>
        <a class=" hover:bg-amber-500 px-3 py-2 rounded-md text-sm font-medium"
           id="nav-blog" routerLink="">Blog</a>
        <a class=" hover:bg-amber-500 px-3 py-2 rounded-md text-sm font-medium"
           id="nav-methods" routerLink="">Méthodes</a>
        <a class=" hover:bg-amber-500 px-3 py-2 rounded-md text-sm font-medium"
           id="nav-for" routerLink="">Pour Qui?</a>
        <a class=" hover:bg-amber-500 px-3 py-2 rounded-md text-sm font-medium"
           id="nav-freeContent" routerLink="">Contenus Gratuits</a>
      </div>
    </div>
  </div>
</nav>


