<footer class="w-full bg-[#7C5A4B] grid grid-cols-5">
  <div class="col-span-3 self-center col-start-2">
    <p class="text-center">
      <span class="text-lg">Le mentorat&copy;</span>
      <br />
      <a class="underline" href="#">
        Condition général de vente - mentions Légales
      </a>
    </p>
  </div>
  <div class="grid grid-cols-4 gap-3">
    <a href="#"
      ><img
        height="1920"
        ngSrc="assets/img/reseau/logo-insta.webp"
        width="1920"
    /></a>
    <a href="#"
      ><img
        class="p-2.5"
        height="1920"
        ngSrc="assets/img/reseau/logo-tiktok.png"
        width="1920"
    /></a>
    <a href="#"
      ><img
        height="1920"
        ngSrc="assets/img/reseau/logo-youtube.webp"
        width="1920"
    /></a>
    <a href="#"
      ><img
        class="p-2.5"
        height="1024"
        ngSrc="assets/img/reseau/logo-facebook.png"
        width="1024"
    /></a>
  </div>
</footer>
