<article class="m-6" id="presentation">
  <div class="grid grid-cols-6 grid-rows-5">
    <div
      class="col-span-4 row-span-4 self-center text-justify me-5"
      id="text-presentation"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at dui sit
        amet metus faucibus condimentum at vitae ipsum. Integer mattis aliquam
        gravida. Aenean lacus mi, ullamcorper non maximus quis, ornare a nulla.
        Duis vulputate justo ac risus commodo aliquam. Pellentesque sit amet
        felis in sem sagittis eleifend non nec magna. Mauris tincidunt velit non
        tellus sagittis lobortis. Pellentesque eget varius turpis. Sed felis
        felis, egestas non gravida sit amet, gravida ac risus. Maecenas quis sem
        at sapien hendrerit bibendum id vitae orci. Aenean id euismod mi. Sed
        eleifend ac dolor in gravida. Duis nec massa consequat, volutpat nunc
        sed, pulvinar lacus. Vivamus non bibendum nisl. Donec feugiat consequat
        condimentum. Maecenas ut blandit dolor.
      </p>
    </div>
    <div
      class="row-span-5 col-span-2 justify-self-center"
      id="img-presentation"
    >
      <img
        alt="main sur ordinateur"
        height="3368"
        ngSrc="http://localhost:8000/res/img/index/seminaire.JPG"
        width="6000"
      />
    </div>
    <div
      class="col-start-3 col-span-2 underline hover:text-orange-500 self-center justify-self-center"
      id="aboutUs"
    >
      <a href="#">Découvrir qui nous somme.</a>
    </div>
  </div>
</article>
