<footer class="w-full bg-[#7C5A4B] grid grid-cols-5">
  <div class="col-span-3 self-center col-start-2">
    <p class="text-center">
      <span class="text-lg">Le mentorat&copy;</span>
      <br/>
      <a class="underline" href="#">
        Condition général de vente - mentions Légales
      </a>
    </p>
  </div>
  <div class="grid grid-cols-4 gap-3">
    <a href="https://www.instagram.com/lementorat/"
    ><img
      class="p-2.5"
      height="1920"
      ngSrc="http://localhost:8000/res/img/reseau/instagram.webp"
      width="1920"
    /></a>
    <a href="https://www.tiktok.com/@le.mentorat?is_from_webapp=1&sender_device=pc"
    ><img
      class="p-2.5"
      height="1920"
      ngSrc="http://localhost:8000/res/img/reseau/tiktok.png"
      width="1920"
    /></a>
    <a href="https://www.youtube.com/@lementorat"
    ><img
      class="p-2"
      height="1920"
      ngSrc="http://localhost:8000/res/img/reseau/youtube.png"
      width="1920"
    /></a>
    <a href="#"
    ><img
      class="p-2.5"
      height="1024"
      ngSrc="http://localhost:8000/res/img/reseau/facebook.webp"
      width="1024"
    /></a>
  </div>
</footer>
