<article id="lastNews">
  <div class="grid grid-cols-7 grid-rows-5">
    <div class="col-span-3 row-span-5 justify-self-start">
      <iframe
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        height="280"
        id="youtube"
        src="https://www.youtube.com/embed/astF0e56w-s"
        title="SÉMINAIRE LE MENTORAT : Les clés de notre lancement à +100k€"
        width="500"
      ></iframe>
    </div>
    <div
      class="col-span-4 row-span-4 justify-self-end text-justify"
      id="text-presentation"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at dui sit
        amet metus faucibus condimentum at vitae ipsum. Integer mattis aliquam
        gravida. Aenean lacus mi, ullamcorper non maximus quis, ornare a
        nulla. Duis vulputate justo ac risus commodo aliquam. Pellentesque sit
        amet felis in sem sagittis eleifend non nec magna. Mauris tincidunt
        velit non tellus sagittis lobortis. Pellentesque eget varius turpis.
        Sed felis felis, egestas non gravida sit amet, gravida ac risus.
        Maecenas quis sem at sapien hendrerit bibendum id vitae orci. Aenean
        id euismod mi. Sed eleifend ac dolor in gravida. Duis nec massa
        consequat, volutpat nunc sed, pulvinar lacus. Vivamus non bibendum
        nisl. Donec feugiat consequat condimentum. Maecenas ut blandit dolor.
      </p>
    </div>
    <div
      class="col-start-4 col-span-2 underline hover:text-orange-500 self-center"
      id="aboutUs"
    >
      <a routerLink="/blog">Nos dernières actualités.</a>
    </div>
  </div>
</article>
