<a routerLink="/admin/create-article">create article</a>
<div class="grid grid-cols-3 mt-3">
  <!-- category sorting -->
  <div class="grid grid-cols-2 ps-28 pb-10 justify-items-start">
    <div *ngFor="let category of categories" class="">
      <input #categoryCheckbox (change)="filterArticles()" [id]="category" [value]="category"
             class="checkbox-round"
             type="checkbox">
      <label [for]="category" class="ms-2 font-medium">{{category}}</label>
    </div>
  </div>
  <div>
    <!-- name sorting -->
    <div>
      <input (input)="filterArticles()" [(ngModel)]="searchText" placeholder="Rechercher..." type="text">
    </div>
    <!-- writer sorting -->
    <div>
      <select (change)="filterArticles()" [(ngModel)]="selectedWriter">
        <option selected value="">Tous</option>
        <option *ngFor="let writer of writers" [value]="writer">{{writer}}</option>
      </select>
    </div>
  </div>
  <!-- date sorting -->
  <div class="mx-5">
    <div class="grid grid-cols-3">
      <span>Tri par date :</span>
      <div class="col-span-2">
        <div>
          <input (change)="filterArticles()" [(ngModel)]="dateFilterType" id="old" name="dateFilter" type="radio"
                 value="recentToOld">
          <label for="old">Les plus récents</label>
        </div>
        <div>
          <input (change)="filterArticles()" [(ngModel)]="dateFilterType" name="dateFilter" type="radio"
                 value="oldToRecent">Les plus anciens
        </div>
        <div>
          <input (change)="filterArticles()" [(ngModel)]="dateFilterType" name="dateFilter" type="radio"
                 value="specificDate">Date précise
        </div>
        <div>
          <input (change)="filterArticles()" [(ngModel)]="dateFilterType" name="dateFilter" type="radio"
                 value="betweenDates">Entre deux dates
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dateFilterType === 'specificDate'" class="flex justify-end me-36">
  <label for="specificDate">Sélectionner une date :</label>
  <input (change)="filterArticles()" [max]="newestDate" [min]="oldestDate" id="specificDate" type="date">
</div>
<div *ngIf="dateFilterType === 'betweenDates'" class="flex flex-col">
  <div class="flex justify-end me-36">
    <label for="startDate">Date de début :</label>
    <input (change)="filterArticles()" [max]="newestDate" [min]="oldestDate" id="startDate" type="date">
  </div>
  <div class=" flex justify-end me-36">
    <label for="endDate">Date de fin :</label>
    <input (change)="filterArticles()" [max]="newestDate" [min]="oldestDate" id="endDate" type="date">
  </div>
</div>
<div *ngFor="let article of filteredArticles; let i = index">
  <div *ngIf="i % 2 !== 0" class="m-6">
    <app-list-article [article]="article" [bg]="'white'"></app-list-article>
  </div>
  <div *ngIf="i % 2 === 0">
    <app-white-section>
      <app-list-article [article]="article" [bg]="'[#EEF7FF]'"></app-list-article>
    </app-white-section>
  </div>
</div>
