<a routerLink="/admin/create-article">create article</a>
<div>
  <span>Catégories :</span>
  <div *ngFor="let category of categories">
    <input #categoryCheckbox (change)="filterArticles()" [id]="category" [value]="category" type="checkbox">
    <label [for]="category">{{category}}</label>
  </div>
  <div>
    <input (input)="filterArticles()" [(ngModel)]="searchText" placeholder="Rechercher..." type="text">
  </div>

</div>

<div *ngFor="let article of filteredArticles; let i = index">
  <div *ngIf="i % 2 === 0" class="m-6">
    <app-list-article [article]="article" [bg]="'white'"></app-list-article>
  </div>
  <div *ngIf="i % 2 !== 0">
    <app-white-section>
      <app-list-article [article]="article" [bg]="'[#EEF7FF]'"></app-list-article>
    </app-white-section>
  </div>
</div>
