<article class="m-6" id="presentation">
  <div class="grid grid-cols-6 grid-rows-5">
    <div
      class="col-span-4 row-span-4 self-center text-justify me-5 grid grid-rows-3"
      id="text-presentation"
    >
      <p class="text-5xl font-semibold  text-start">
        Vivre sereinement de son activité ?
      </p>
      <p class="text-end row-start-3 text-2xl">
        Un accompagnement personnalisé dans le développement de son activité.
      </p>
    </div>
    <div
      class="row-span-5 col-span-2 justify-self-center"
      id="img-presentation"
    >
      <img
        alt="main sur ordinateur"
        class="rounded-xl"
        src="https://localhost:8000/res/img/index/seminaire.JPG"
      />
    </div>
    <div
      class="col-start-2 col-span-2 hover:text-orange-500 underline self-center justify-self-center"
      id="aboutUs"
    >
      <a routerLink="/about-us">Découvrir qui nous sommes.</a>
    </div>
  </div>
</article>
