<article class="m-6" id="presentation">
  <div class="grid grid-cols-6 grid-rows-5">
    <div
      class="col-span-4 row-span-4 self-center text-justify me-5"
      id="text-presentation"
    >
      <p class="text-5xl ml-16 text-start">
        Phrase d'accroche
      </p>
      <p class="text-end text-3xl pr-20">
        complément de phrase
      </p>
    </div>
    <div
      class="row-span-5 col-span-2 justify-self-center"
      id="img-presentation"
    >
      <img
        alt="main sur ordinateur"
        height="3368"
        ngSrc="http://localhost:8000/res/img/index/seminaire.JPG"
        width="6000"
      />
    </div>
    <div
      class="col-start-2 col-span-2 hover:underline self-center justify-self-center"
      id="aboutUs"
    >
      <a routerLink="/about-us">Découvrir qui nous somme.</a>
    </div>
  </div>
</article>
