<div
  (mouseenter)="fcDropdown = true"
  (mouseleave)="fcDropdown = false"
  class="absolute z-20 w-[92%] bg-white mt-2 rounded-md shadow-lg origin-top text-center"
>
  <!-- Contenu de la liste déroulante -->
  <a
    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    href="#"
  >Étude De Cas</a
  >
  <a
    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    href="#"
  >Conférence Live</a
  >
  <a
    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    href="#"
  >Café Entrepreneurs</a
  >
</div>
