<p>Chaque mois à Lyon (et prochainement dans d’autres villes de France) nous organisons un évènement complètement
   gratuit pour permettre aux entrepreneurs de se rencontrer, de nouer des partenariats, de s’inspirer… En toute
   bienveillance.

   Tu souhaites participer au prochain ?
</p>


<p>Nous t’attendons le … à … (adresse)

   Pour prendre ta place, clique sur ce lien (la réservation est obligatoire, les places sont limitées)
</p>


<span class="text-gray-500">mettre des photos du café freelance voir lien suivant : https://drive.google.com/drive/folders/1MZmns9DNTyC0M72dkY9O4ObzHlUKMYwr?usp=share_link
</span>
