<div [id]="'articleN' + article.id" class="flex flex-col justify-center items-center">
  <!-- no hover -->
  <div
    (mouseover)="zoom = true"
    *ngIf="!zoom"
    [style.background-image]="'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(http://localhost:8000/res/articles/img/' + article.image + ')'"
    class="h-80 w-2/3 bg-img flex justify-center items-center">
    <h2 class="text-5xl font-bold text-[#EEF7FF]">{{article.title}}</h2>
  </div>
  <!-- hover -->
  <div
    (mouseleave)="zoom = false"
    *ngIf="zoom"
    [ngClass]="'bg-'+bg"
    class="h-80 w-2/3 flex justify-center items-center"
  >
    <h2 class="text-xl font-bold text-center mx-52">{{article.paragraph}}</h2>
  </div>
  <div class="mt-4">
    <p>{{article.writter.pseudo}}</p>
  </div>
</div>
